<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header>
        <h2><a href="/">William La</a></h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/videoediting">Video Editing</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    
    <div class="hero-bg">
        <section class="bio-single">
            <div class="bio-text">
               <h2>Hi</h2>
                <p>I've been coding for 3 years now and graduated from Seneca College's CPP(Computer Programming) program. </p>
                <br>
                <p>You'll find all my recent code projects here.</p>
                <small>Sorted by newest to oldest</small>
            </div>

        
        </section>   
    </div>

    <div class="cs-gallery">

        <section class="project">
            <div class="pic">
                <img src="images/website.PNG" alt="website screenshot">
            </div>
            <div class="desc">
                <h2>Personal Website</h2>
                <p>A personal portfolio website. The frontend consisting of HTML/CSS, and the backend utilizing Node.js and the Express framework.</p>
                <a href="https://github.com/WilliamLa59/WebProjects/tree/main/PersonalWebsite" target="_blank">
                    <img src="images/github logo white.PNG" alt="github logo">
                </a>
            </div>
        </section>

        <section class="project">
            <div class="pic">
                <img src="images/RiotAutoLogger.PNG" alt="riot client screenshot">
            </div>
            <div class="desc">
                <h2>Riot Games Auto Login</h2>
                <p>A simple python script that types in will automatically log you into a specified riot account if you have multiple</p>
                <a href="https://github.com/WilliamLa59/PythonProjects/tree/main/RiotAutoLogin" target="_blank">
                    <img src="images/github logo white.PNG" alt="github logo">
                </a>
            </div>
        </section>

        <section class="project">
            <div class="pic">
                <img src="images/BMRCalculator.PNG" alt="riot client screenshot">
            </div>
            <div class="desc">
                <h2>Basal Metabolic Rate (BMR) Calculator</h2>
                <p>A Calculator used to find a person's basal metabolic rate, which is the number of calories your body burns to perform its basic functions, such as cell production and breathing. Written in Java and uses Java Swing for the GUI elements. </p>
                <a href="https://github.com/WilliamLa59/projectA/tree/master/projectA" target="_blank">
                    <img src="images/github logo white.PNG" alt="github logo">
                </a>
            </div>
        </section>

        <section class="project">
            <div class="pic">
                <img src="images/YoutubeToWebm.PNG" alt="Youtube Audio GUI screenshot">
            </div>
            <div class="desc">
                <h2>Youtube Audio Downloader</h2>
                <p>A python project that downloads youtube audio as a webm file. Impliments a functional GUI that allows the user to copy any youtube link to download and specify a download location for files.</p>
                <a href="https://github.com/WilliamLa59/PythonProjects/tree/main/YoutubeAudioDownloader" target="_blank">
                    <img src="images/github logo white.PNG" alt="github logo">
                </a>
            </div>
        </section>

    </div>
    <footer>

    </footer>
</body>
</html>