<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoEditing</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header>
        <h2>William La</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/videoediting">Video Editing</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    
    <div class="hero-bg">
        <section class="bio">
            <div class="dp">
                <img src="images/strathe profile pic.jpg" alt="youtube profile picture"> <!-- current placeholder change later-->
            </div>
            <div class="bio-text">
                <h2>Hi</h2>
                <p>I've been coding for 3 years now and graduated from Seneca College's CPP(Computer Programming) program. </p>
                <br>
                <p>You'll find all my recent code projects here.</p>
            </div>

        
        </section>   
    </div>

    <div class="cs-gallery">

        <p>Personal Website</p>
        <section class="project">
            <div class="pic">
                <img src="images/website.PNG" alt="website screenshot">
            </div>
            <div class="desc">
                <p>A personal portfolio website. The frontend consisting of HTML/CSS, and the backend utilizing Node.js and the Express framework.</p>
            </div>

        </section>

    </div>
    <footer>

    </footer>
</body>
</html>