<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header>
        <h2>William La</h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/home">Home</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/videoediting">Video Editing</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    
    <div class="hero_bg">
        <section class="bio">
            <div class="dp">
                <img src="images/strathe profile pic.jpg" alt="youtube profile picture"> <!-- current placeholder change later-->
            </div>
            <div class="bio_text">
                <h2>Hi</h2>
                <p>My name is William im a web and software developer who also enjoys video editing.</p>
            </div>
        
        </section>   
    </div>

    <footer>

    </footer>
</body>
</html>