<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Editing</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <header>
        <h2><a href="/">William La</a></h2>
        <nav>
            <ul class="nav_links">
                <li><a href="/">Home</a></li>
                <li><a href="/code">Code</a></li>
                <li><a href="/videoediting">Video Editing</a></li>
            </ul>
        </nav>
        <a class="cta" href="#"><button>Contact</button></a>
    </header>
    
    <div class="hero-bg">
        <section class="bio">
            <div class="dp">
                <img src="images/strathe profile pic.jpg" alt="youtube profile picture"> <!-- current placeholder change later-->
            </div>
            <div class="bio-text">
                <p>Editing has been a big hobby of mine which started back in highschool. I mainly just make short video game clip edits. I use Sony Vegas as my main editing software, but I'm also familiar with the basics of Premiere and After Effects.</p>
                <br>
                <p>You'll find all my recent projects here.</p>
                <small>Sorted by newest to oldest</small>
            </div>
        </section>   
    </div>

    <div class="vgallery">
        <div class="iframe-container">
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/FyVFol33jZU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/pWuNeDpehV8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/ZHjdkSmBqYc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/3fxczR5kVTs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/PmGJFeS0WrY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
       
    </div>
    
    <footer>

    </footer>
</body>
</html>